<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.rest.ChatApiPlugin</class>
    <name>ChatAPI</name>
    <description>Enables chat and groupchat over a RESTful API and Server Sent Events (SSE).</description>
    <author>Ignite Realtime</author>
    <version>0.0.3</version>
    <date>07/08/2017</date>
    <minServerVersion>4.1.5</minServerVersion>
    <adminconsole>
        <tab id="tab-webclients" name="${admin.sidebar.webclients.name}" description="${admin.sidebar.webclients.description}" url="rest-api.jsp">
            <sidebar id="tab-chatapi" name="${admin.sidebar.webclients.item.chatapi.name}" description="${admin.sidebar.webclients.item.chatapi.description}">
                <item url="rest-api.jsp" id="rest-api" name="${admin.sidebar.webclients.item.settings.name}" description="${admin.sidebar.webclients.item.settings.description}" />
                <item url="swagger-ui-sandbox.jsp" id="swagger-ui" name="${admin.sidebar.webclients.item.swagger.name}" description="${admin.sidebar.webclients.item.swagger.description}" />                                                 
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
