<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.rest.ChatApiPlugin</class>
    <name>ChatAPI</name>
    <description>Enables chat and groupchat over a RESTful API and Server Sent Events (SSE).</description>
    <author>Ignite Realtime</author>
    <version>0.0.1</version>
    <date>02/14/2017</date>
    <minServerVersion>4.1.0</minServerVersion>
    <adminconsole>
        <tab id="tab-chatview" name="Chat API" url="rest-api.jsp" description="Enables chat/groupchat over a RESTFul API and Sever Sent Events (SSE)">
            <sidebar id="sidebar-chatview-settings" name="Settings">
                <item id="rest-api" name="REST API" url="rest-api.jsp" description="Click to manage the service that enables chat/groupchat over a RESTFul API and Sever Sent Events (SSE)" />
                <item id="swagger-ui" name="Sandbox" url="swagger-ui-sandbox.jsp" description="Swagger UI Sandbox to test REST API"/>                                      
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
