<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <class>org.jivesoftware.openfire.plugin.ofskype.OfSkypePlugin</class>
    <name>Openfire Skype</name>
    <description>Integrates Openfire with Skype for Business</description>
    <author>Ignite Realtime</author>
    <version>0.0.1</version>
    <date>06/06/2016</date>
    <minServerVersion>4.0.1</minServerVersion>
    <adminconsole>
        <tab id="tab-ofskype" name="${plugin.title}" url="skype-summary.jsp" description="${plugin.title.description}">
            <sidebar id="siderbar-skype"  name="${plugin.title}">
                <item id="skype-summary"  	name="${config.skype.summary.name}"  	description="${config.skype.summary.description}"  	url="skype-summary.jsp"/>
                <item id="skype-settings"  	name="${config.skype.settings.name}"  	description="${config.skype.settings.description}"  	url="skype-settings.jsp"/>                
            </sidebar>           
        </tab>
    </adminconsole>      
</plugin>
