<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.ofturn.OfTurnPlugin</class>
    <name>Openfire Turn Server</name>
    <description>Allows a client to obtain ip addresses and ports from a relay server. It is most useful for endpoints located behind restrictive NATs or firewalls that wish to receive media from another peer.</description>
    <author>Ignite Realtime</author>
    <version>0.0.1</version>
    <date>02/10/2016</date>
    <minServerVersion>4.0.1</minServerVersion>    
</plugin>
