/* Post layout options */
.custom-textarea {
	width: 100%;
}

#customize-control-post_layout .customize-control-title {
	margin-bottom: 5px;
}

#customize-control-layout label,
#customize-control-post_layout label {
	display: block;
	clear: both;
	margin-bottom: 10px;
	position: relative;
}

#customize-control-layout label input,
#customize-control-post_layout label input {
	display: inline-block;
	margin-top: -78px;
}

	#customize-control-post_layout label.image-left input,
	#customize-control-post_layout label.image-right input {
		margin-top: -36px;
	}

#customize-control-layout div,
#customize-control-post_layout div {
	width: 123px;
	height: 83px;
	background: url(../../images/post-layout.png) no-repeat 0 0;
	display: inline-block;
}

#customize-control-post_layout .image-left,
#customize-control-post_layout .image-right {
	height: 43px;
	background-position: 0 -84px;
}

#customize-control-post_layout .image-right {
	background-position: 0 -127px;
}

/* Sidebar options */
#customize-control-layout .customize-control-title {
	margin-bottom: 5px;
}

#customize-control-layout div {
	background: url(../../images/layout.jpg) no-repeat 0 0;
}

	#customize-control-layout .right {
		background-position: 0 -84px;
	}

	#customize-control-layout .left.second-sidebar {
		background-position: 0 -250px;
	}

	#customize-control-layout .right.second-sidebar {
		background-position: 0 -336px;
	}

	#customize-control-layout .separate {
		background-position: 0 -168px;
	}

p.description.more-top {
    margin-top: 8px;
}

/* Premium upgrade */
.premium-upgrade {
    position: relative;
    left: 0;
    -webkit-transition: left ease-in-out .18s;
    transition: left ease-in-out .18s;
}

.premium-upgrade a {
	display: block;
	padding: 9px 14px;
	color: #fff;
	background: #f0ad4e;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}

.premium-upgrade a:link,
.premium-upgrade a:visited,
.premium-upgrade a:hover,
.premium-upgrade a:active,
.premium-upgrade a:focus {
	color: #fff;
}

.premium-upgrade a:hover,
.premium-upgrade a:active,
.premium-upgrade a:focus {
	background: #ed9c28;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.premium-upgrade a:hover span,
.premium-upgrade a:active span,
.premium-upgrade a:focus span {
	right: 14px;
}

.premium-upgrade span {
	position: absolute;
	right: 17px;
	-webkit-transition: right 0.15s ease-in-out;
	transition: right 0.15s ease-in-out;
}

.in-sub-panel .premium-upgrade {
	left: -300px;
	width: 300px;
}