<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.ofsocial.OfSocialPlugin</class>
    <name>Openfire Social</name>
    <description>Provides social network with member profiles, activity streams, user groups, messaging, blogs and more using WordPress and BuddyPress</description>
    <author>Ignite Realtime</author>
    <version>0.0.2</version>
    <date>01/06/2016</date>
    <minServerVersion>4.0.1</minServerVersion>  
    <adminconsole>
        <tab id="tab-ofsocial" name="${plugin.title}" url="ofsocial-summary.jsp" description="${plugin.description}">
            <sidebar id="siderbar-ofsocial" name="${plugin.title}">
                <item id="ofsocial-summary" name="${config.page.summary.title}" description="${config.page.summary.description}" url="ofsocial-summary.jsp"/>
            </sidebar>           
        </tab>
    </adminconsole>     
</plugin>
