<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
Automatically created by Apache Tomcat JspC.
-->
<web-app>


    <servlet>
        <servlet-name>org.jivesoftware.openfire.plugin.ofsocial.ofsocial_002dsummary_jsp</servlet-name>
        <servlet-class>org.jivesoftware.openfire.plugin.ofsocial.ofsocial_002dsummary_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.jivesoftware.openfire.plugin.ofsocial.ofsocial_002dsummary_jsp</servlet-name>
        <url-pattern>/ofsocial-summary.jsp</url-pattern>
    </servlet-mapping>

</web-app>

