div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#optionsframework {
    max-width: none;
}

#optionsframework-wrap {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

#optionsframework-wrap a:hover {
    text-decoration: none;
}

#optionsframework-wrap h2 {
    background-color: #eee;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 0 #fff inset;
    text-shadow: 1px 1px #fff;
}

#optionsframework-wrap h2.nav-tab-wrapper {
    width: 200px;
    float: left;
    padding: 0;
    margin-right: 1px;
    border-bottom: 0;
    margin-bottom: 10px;
}

h2 .nav-tab {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 13px;
    margin: 0;
    border-right: 1px solid #ccc;
    margin-right: -1px;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #ccc!important;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 0 #fff inset;
}

h2 .nav-tab-active {
    border-right: 2px solid #fff;
    margin-right: -2px;
    position: relative;
    z-index:9;
}

h2 a.nav-tab:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

h2 a.nav-tab-active:hover {
    border-bottom: inherit;
    background: inherit;
}

div#optionsframework-metabox {
    float: left;
    width: calc(100% - 201px);
    padding-top: 0;
}

.postbox {
    border: 0;
    margin-bottom: 0;
    border-left: 1px solid #ccc;
    margin-left: -1px;
}

#optionsframework-wrap .nav-tab-wrapper .nav-tab {

}

#optionsframework-wrap .nav-tab-wrapper .nav-tab-active {
    background-color: #fff;
    border-right: 1px solid #FFF;
    margin-right: -1px;
}

#optionsframework-wrap .group {
    padding: 10px 20px 10px;
}

#optionsframework-wrap .group h3 {
    display: none;
}

#optionsframework-wrap .group .section {
    padding: 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}

#optionsframework-wrap .group .section h4 {
    margin-bottom: 15px;
    font-size: 1.3em;
    margin-top: 10px;
}

#optionsframework-wrap .group .section.sub_section_titled {
    padding: 0;
    border-top: none;
    border-bottom: 0;
    margin-bottom: 10px;
}

#optionsframework-wrap .group .sub_section_titled h4 {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#optionsframework-wrap .group .sub_section_titled .option {
    padding: 0 10px;
}

.wp-color-result {
    height: 30px;
}

.wp-color-result:after {
    line-height: 30px;
}

#optionsframework-wrap .group .section input[type="text"],
#optionsframework-wrap .group .section input[type="number"],
#optionsframework-wrap .group .section textarea,
#optionsframework-wrap .group .section select {
    height: auto;
    padding: 5px 10px;
}

#optionsframework-submit {
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
}

#optionsframework-wrap .group .section-accordion {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 0;
    border: 1px solid #ccc;
    overflow: hidden;
    color: #555;
}

#optionsframework-wrap .group .section-accordion.close {
    opacity: 1;
}

#optionsframework-wrap .group .section-accordion h4 {
    margin: 0;
    color: inherit;
}

#optionsframework-wrap .group .section-accordion .fa {
    float: right;
}

#setting-error-save_options .faded {
    opacity: 1;
}

#wpbody-content .metabox-holder {
    padding-top: 0;
}

#setting-error-save_options {
    margin-left: 201px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#optionsframework-wrap {
    border-radius: 5px;
}

#optionsframework-wrap .group .section-text.mini .option .explain {
    margin-left: 10px;
}

#optionsframework-wrap .group .section-accordion {
    cursor: pointer;
}

img.of-radio-img-img {
    width: 20px;
    height: 20px;
}

#optionsframework .controls .of-radio-img-img {
    width: 30px;
    height: 30px;
    border-width: 1px;
    opacity: 1;
}

#optionsframework .controls .of-radio-img-selected {
    border-color: #5B9DD9;
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    opacity: 1;
}

h2.nav-tab-wrapper i.fa {
    width: 1.1em;
}

ul.options-links {
    display: inline;
    margin: 0;
    font-size: 13px;
    float: right;
}

ul.options-links li {
    display: inline;
}

ul.options-links li + li:before {
    content: "|";
    margin: 0 5px;
}

ul.options-links li a {
    text-decoration: none;
}

.accordion-group-item{
	display:none;
	}

#optionsframework-wrap .group .section.section-start_group,
#optionsframework-wrap .group .section.section-end_group{
	padding:0;
	margin:0;
	border:none;
	
	}
.controls#optionsframework .mini .controls input,
#optionsframework .mini .controls {
    margin-right: 20px;
}

#optionsframework .section .explain {
    font-size: 13px;
    line-height: 1.5;
    max-width: 45%;
}